@use "sass:map";
@use "../../../../styles/_variables.scss" as vars;

.header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  a {
    color: map.get(vars.$theme-colors, "white");
    text-decoration: none;
  }

  .footer-logo {
    width: 7vw;
    height: auto;
    margin-top: 1rem;
  }

  .custom-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      background-color: map.get(vars.$theme-colors, "beige");
      width: 100%;
      z-index: 1;
      transform: translateY(-50%);
    }

    .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      padding-right: 3vw;

      .nav-item {
        opacity: 1;
      }

      .nav-link {
        color: map.get(vars.$theme-colors, "white");
        position: relative;
        display: inline-block;
        padding-bottom: 0.5rem;
        text-decoration: none;
        transition: color 0.3s ease;
        margin-left: 4rem;
        font-weight: 400;
        z-index: 2;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: map.get(vars.$theme-colors, "white");
          transition: width 0.4s ease-in-out;
        }

        &:hover::after,
        &.active::after {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .custom-navbar {
    padding-right: 2vw;
  }

  .navbar-nav {
    gap: 0.5rem;
    flex-wrap: nowrap;
  }

  .nav-item {
    white-space: nowrap;
  }

  .nav-link {
    font-size: 0.85rem;
    margin-left: 1rem;
  }
}
