<div class="full-screen-container" *ngIf="contactData">
  <div class="contact-wrapper">
    <section id="first-section" class="first-section">
      <div class="container-fluid px-0">
        <div class="row no-gutters">

          <div class="col-md-6 first-section-left d-flex flex-column align-items-start justify-content-center mt-3">
            <h6 #contactLeftElement class="mb-4">{{ contactData.title_2 }}</h6>
            <div #contactLeftElement class="contact-details" [innerHTML]="contactData.subtitle_1"></div>
            <div #contactLeftElement class="contact-details mt-3" [innerHTML]="contactData.subtitle_2"></div>
          </div>

          <div class="col-md-6 first-section-right d-flex align-items-center justify-content-center">
            <form #contactForm class="contact-form mt-3" (ngSubmit)="sendMessage()">
              <h6 class="mb-4">Envoyez-nous un message</h6>

              <input type="text" name="name" placeholder="Nom & Prénom" class="form-control mb-3" [(ngModel)]="formData.name" required>
              <input type="text" name="phone" placeholder="Téléphone" class="form-control mb-3" [(ngModel)]="formData.phone">
              <input type="email" name="email" placeholder="E-mail" class="form-control mb-3" [(ngModel)]="formData.email" required>
              <textarea name="message" placeholder="Message" class="form-control mb-3" [(ngModel)]="formData.message" required></textarea>

              <div class="form-group d-flex align-items-center">
                <div class="col-3">
                  <input type="checkbox" id="privacy" [(ngModel)]="formData.privacyAccepted" name="privacy" class="form-check-input">
                </div>
                <div class="col-9">
                  <label for="privacy" class="form-check-label">
                    En soumettant ce formulaire, j’accepte que les informations saisies soient exploitées dans le cadre strict de ma demande.
                  </label>
                </div>
              </div>

              <button type="submit" class="btn-submit mt-4" [disabled]="!formData.privacyAccepted">Envoyer</button>
            </form>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>
