<div class="full-screen-container">
  <div class="cookies-wrapper">
    <section id="first-section" class="first-section">
      <div class="container mb-5">
        <div class="row justify-content-center p-3">
          <div class="col-auto d-flex flex-column align-items-center">
            <div class="hero-section d-flex flex-column align-items-center">
              <h1>Politique des cookies</h1>
              <h3 class="mt-3">En savoir plus sur notre politique de confidentialité des cookies</h3>
              <div class="scroll-indicator mt-5">
                <img
                  src="assets/icons/arrow_circle_down.webp"
                  alt="Scroll Down"
                  (click)="scrollToSection('second-section')"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="second-section" class="second-section">
      <div class="container">
        <div class="cookie-content">
          <p>La politique des cookies est extraite de notre politique de confidentialité.</p>

          <p><strong>9. À propos des cookies</strong></p>
          <p>9.1 Un cookie est un fichier contenant un identifiant (une chaîne de lettres et de chiffres) envoyé par un serveur Web à un navigateur Web et stocké par le navigateur. L’identifiant est ensuite renvoyé au serveur chaque fois que le navigateur demande une page au serveur.
            9.2 Les cookies peuvent être des cookies «persistants» ou des cookies «de session»: un cookie persistant sera stocké par un navigateur Web et restera valide jusqu’à sa date d’expiration, sauf s’il est effacé par l’utilisateur avant la date d’expiration; en revanche, un cookie de session expirera à la fin de la session de l’utilisateur, lorsque le navigateur Web sera fermé.
            9.3 Les cookies ne contiennent généralement aucune information permettant d’identifier personnellement un utilisateur, mais les informations personnelles que nous stockons à votre sujet peuvent être liées aux informations stockées et obtenues à partir des cookies.</p>

          <p><strong>10. Les cookies que nous utilisons</strong></p>
          <p>10.1 Nous utilisons des cookies aux fins suivantes:
            (a) authentification – nous utilisons des cookies pour vous identifier lorsque vous visitez notre site Web et que vous naviguez sur notre site Web – plus d’informations ici
            (b) statut – nous utilisons des cookies pour nous aider à déterminer si vous êtes connecté à notre site Web – plus d’informations ici
            (c) personnalisation – nous utilisons des cookies pour stocker des informations sur vos préférences et pour personnaliser le site pour vous – plus d’informations ici
            (d) sécurité – nous utilisons les cookies comme un élément des mesures de sécurité utilisées pour protéger les comptes d’utilisateurs, notamment en empêchant l’utilisation frauduleuse des identifiants de connexion, et pour protéger notre site Web et les services en général – plus d’informations ici
            (e) publicité – nous utilisons des cookies pour nous aider à afficher des publicités qui vous intéressent – plus d’informations ici
            (f) analyse – nous utilisons des cookies pour nous aider à analyser l’utilisation et les performances de notre site web et de nos services – plus d’informations ici
            (g) consentement de cookie – nous utilisons des cookies pour stocker vos préférences en ce qui concerne l’utilisation des cookies plus généralement – plus d’informations ici
          </p>

          <p><strong>11. Cookies utilisés par nos fournisseurs de services</strong></p>
          <p>11.1 Nos fournisseurs de services utilisent des cookies et ces cookies peuvent être stockés sur votre ordinateur lorsque vous visitez notre site Web.
            11.2 Nous utilisons Google Analytics pour analyser l’utilisation de notre site Web. Google Analytics collecte des informations sur l’utilisation du site Web au moyen de cookies. Les informations recueillies concernant notre site Web sont utilisées pour créer des rapports sur l’utilisation de notre site Web. La politique de confidentialité de Google est disponible sur: https://www.google.com/policies/privacy/
            11.3 Nous utilisons Jetpack pour analyser l’utilisation de notre site web. Jetpack rassemble des informations sur l’utilisation du site Web au moyen de cookies. Les informations recueillies concernant notre site Web sont utilisées pour créer des rapports sur l’utilisation de notre site Web. La politique de confidentialité de Jetpack est disponible sur: https://jetpack.com/support/privacy/
            11.4 Les cookies d’autres fournisseurs de services- sont décrits ici</p>

          <p><strong>12. Gérer les cookies</strong></p>
          <p>12.1 La plupart des navigateurs vous permettent de refuser d’accepter les cookies et de supprimer les cookies. Les méthodes pour le faire varient d’un navigateur à l’autre, et d’une version à l’autre. Vous pouvez cependant obtenir des informations à jour sur le blocage et la suppression des cookies via ces liens:
            (a) https://support.google.com/chrome/answer/95647?hl=fr (Chrome);
            (b) https://support.mozilla.org/fr-FR/kb/enable-and-disable-cookies-website-preferences (Firefox);
            (c) http://www.opera.com/help/tutorials/security/cookies/ (Opera);
            (d) https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies (Internet Explorer);
            (e) https://support.apple.com/kb/PH21411 (Safari); et
            (f) https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy (Edge).
            12.2 Bloquer tous les cookies aura un impact négatif sur la convivialité de nombreux sites Web.
            12.3 Si vous bloquez les cookies, vous ne pourrez pas utiliser toutes les fonctionnalités de notre site Web.
          </p>

        </div>
      </div>
    </section>
  </div>
</div>
