<div class="full-screen-container">
  <div class="auctions-wrapper">

    <section id="first-section" class="first-section" #firstSection>
      <div class="container mb-5">
        <div class="row justify-content-center">
          <div class="col-auto d-flex flex-column align-items-center">
            <div class="hero-section d-flex flex-column align-items-center">
              <h1 *ngIf="auctionsData.title" [innerHTML]="auctionsData.title" #mainTitle></h1>
              <div class="row slogan my-5 w-120">
                <div class="col text-center mb-5">
                  <h3 *ngIf="auctionsData.subtitle" [innerHTML]="auctionsData.subtitle" #subtitle></h3>
                </div>
              </div>
              <!-- <div class="scroll-indicator mt-5" #scrollIndicatorFirst>
                <img
                  src="assets/icons/arrow_circle_down.webp"
                  alt="Scroll Down"
                  (click)="scrollToSection('list-section')"
                />
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="list-section" class="list-section">
      <div class="container-fluid p-0">
        <ng-container *ngFor="let auction of auctionsData.items; let i = index">
          <div
            class="row auction-item"
            [id]="'auction-' + i"
            [ngClass]="{ 'bg-blue': i % 2 !== 0, 'bg-white': i % 2 === 0 }"
            #auctionItem
          >
            <div class="col-md-6 auction-text" #auctionTextElement>
              <div class="line mb-5"></div>
              <h5 class="title" [innerHTML]="auction.title"></h5>
              <p class="price" *ngIf="auction.price">Mise à prix {{ auction.price }}</p>
              <div class="description" [innerHTML]="auction.description"></div>
              <a class="more-link" [routerLink]="['/ventes-aux-encheres/details', auction.id]">
                Plus d’infos
              </a>
            </div>

            <div class="col-md-6 auction-image" #auctionImage>
              <a [routerLink]="['/ventes-aux-encheres/details', auction.id]">
                <img [src]="auction.image" [alt]="auction.title" />
              </a>
            </div>

            <!-- <div
              class="scroll-indicator my-4 text-center"
              *ngIf="i < auctionsData.items.length - 1"
              #scrollIndicator
            >
              <img
                src="assets/icons/arrow_circle_down.webp"
                alt="Scroll Down"
                (click)="scrollToNextAuction(i)"
              />
            </div> -->
          </div>
        </ng-container>
      </div>
    </section>

  </div>
</div>
