<body
  [class.office-page]="currentRoute.includes('/le-cabinet')"
  [class.skills-page]="currentRoute.includes('/competences')"
  [class.selected-skill-page]="currentRoute.includes('/competence-selectionnee')"
  [class.contact-page]="currentRoute.includes('/equipe')"
  [class.auctions-page]="currentRoute.includes('/ventes-aux-encheres')"
  [class.selected-team-page]="currentRoute.includes('/membre-equipe')"
>
  <app-header></app-header>

  <ng-container>
    <router-outlet></router-outlet>
  </ng-container>

  <ng-container *ngIf="showFooter">
    <app-footer></app-footer>
  </ng-container>

  <app-payment-popup *ngIf="!currentRoute.includes('/404')"></app-payment-popup>
</body>
