@use "sass:map";
@use "../styles/_variables.scss" as vars;

body.office-page app-header,
body.skills-page app-header,
body.selected-skill-page app-header,
body.legal-documents-page app-header,
body.dpo-page app-header,
body.cookies-page app-header,
body.rectification-page app-header,
body.erasure-page app-header,
body.legal-mentions-page app-header,
body.parameters-policy-page app-header,
body.privacy-page app-header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent !important;
  z-index: 99;
  overflow-y: hidden;
}

