<div class="full-screen-container">
  <div class="privacy-wrapper">
    <section id="first-section" class="first-section">
      <div class="container mb-5">
        <div class="row justify-content-center p-3">
          <div class="col-auto d-flex flex-column align-items-center">
            <div class="hero-section d-flex flex-column align-items-center">
              <h1>Politique de confidentialité</h1>
              <h3 class="mt-3">A propos de notre politique de confidentialité, lisez ici</h3>
              <!-- <div class="scroll-indicator mt-5">
                <img
                  src="assets/icons/arrow_circle_down.webp"
                  alt="Scroll Down"
                  (click)="scrollToSection('second-section')"
                />
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="second-section" class="second-section">
      <div class="container">
        <div class="privacy-content">
          <p>
            CB2P Avocats s’engage à protéger les informations personnelles.
            Cette politique de confidentialité explique les informations que
            CB2P Avocats peut recueillir de votre part et comment nous pouvons
            gérer et utiliser ces informations. Toute information personnelle
            collectée via notre site Web sera gérée conformément à la présente
            politique de confidentialité.
          </p>
          <p>
            Les informations personnelles que vous soumettez à CB2P Avocats,
            aux fins spécifiées lors de la soumission de ces informations,
            seront gérées conformément à la présente politique de confidentialité.
          </p>
          <p>
            En utilisant le site Web CB2P Avocats et / ou en enregistrant vos
            coordonnées pour acquérir des informations supplémentaires, vous
            acceptez le traitement de vos informations personnelles à ces fins
            et comme indiqué dans la présente politique de confidentialité.
          </p>
          <p>
            Les informations personnelles CB2P Avocats sont automatiquement
            collectées lorsque vous visitez le site Web.
          </p>
          <p>
            Si vous visitez le site Web CB2P Avocats, nous identifions,
            recueillons et conservons automatiquement les informations
            suivantes: la date et l’heure de votre visite, l’adresse IP
            (protocole Internet) d’origine, le type de navigateur et le système
            d’exploitation (s’ils sont fournis par le navigateur), l’URL de la
            page de renvoi (si fournie par le navigateur), l’objet demandé et
            l’état d’avancement de la demande.
          </p>
          <p>
            Aucune autre information personnelle n’est collectée sur le site
            Web de CB2P Avocats.
          </p>
          <p>
            Veuillez noter que CB2P Avocats ne vous demandera jamais de mots de
            passe, d’informations de carte de crédit ou de données financières
            par le biais de courriels ou d’appels non sollicités.
          </p>
          <p>
            CB2P Avocats peut vous demander de fournir des informations
            personnelles dans d’autres contextes, par exemple, dans le cadre de
            votre inscription et / ou de votre participation à des événements
            (organisés) par CB2P Avocats, en fournissant nos services à nos
            clients, en exécution d’obligations contractuelles et développement
            de nouvelles entreprises.
          </p>
          <p>
            CB2P Avocats expliquera le but spécifique pour lequel il demande
            votre consentement à la collecte et à l’utilisation de vos
            informations personnelles et la mesure dans laquelle il traitera
            vos informations personnelles à ces fins. Si vous donnez votre
            consentement, vous avez le droit de retirer votre consentement à
            tout moment (voir ci-dessous).
          </p>
          <p>
            Nous utilisons les informations que nous avons obtenues
            automatiquement du site Web CB2P Avocats pour fournir, exploiter,
            maintenir et optimiser avec succès notre site Web (qui, selon nous,
            profite également aux visiteurs de notre site Web), notamment pour
            permettre un trafic fluide sur le site Web, un support technique
            (résolution des problèmes éventuels) et pour gérer et améliorer la
            sécurité de notre site Web.
          </p>
          <p>
            Les informations personnelles que vous avez fournies à CB2P Avocats
            dans d’autres contextes ne seront utilisées que dans le but
            spécifique et légitime pour lequel elles ont été collectées et comme
            expliqué lors de la collecte. Les informations personnelles
            collectées seront uniquement utilisées aux fins susmentionnées et
            ne seront ni traitées ni distribuées ultérieurement de manière
            incompatible avec la présente politique de confidentialité. En aucun
            cas, CB2P Avocats ne publiera les informations personnelles
            collectées sans votre consentement préalable.
          </p>
          <p>
            <strong>Durée d’utilisation et de stockage de vos informations personnelles</strong><br />
            Les informations collectées automatiquement sur le site Web de
            CB2P Avocats sont conservées pendant une période maximale de trois
            ans mais ne dépassent généralement pas six mois.
          </p>
          <p>
            Les informations personnelles collectées dans d’autres contextes par
            CB2P Avocats ne seront conservées que le temps nécessaire à la
            réalisation de l’objectif spécifié au moment de la collecte. Nous
            nous efforçons de supprimer les informations personnelles lorsqu’elles
            ne sont plus pertinentes pour l’objectif pour lequel elles ont été
            collectées ou lorsque l’objectif en soi n’est plus pertinent. Vous
            pouvez également demander la suppression définitive de vos
            informations personnelles (voir ci-dessous).
          </p>
          <p>
            Nous nous engageons à garder vos informations personnelles
            confidentielles. CB2P Avocats ne divulguera pas vos informations
            personnelles à des tiers, à moins que cela ne soit nécessaire pour
            atteindre les objectifs susmentionnés et avec votre consentement
            explicite.
          </p>
          <p>
            Tout au long du site Web de CB2P Avocats, vous pouvez trouver des
            liens vers des sites Web tiers. Veuillez noter que CB2P Avocats
            n’est responsable d’aucun aspect de ces sites Web tiers ni des
            informations qu’ils collectent auprès de vous ou vous concernant, ou
            de vos actions, par exemple. Si vous utilisez un bouton de partage
            de médias sociaux, le réseau social qui l’a créé peut enregistrer
            que vous avez partagé un post.
          </p>
          <p>
            CB2P Avocats ne sollicite ni ne collecte aucune information
            concernant votre état médical ou de santé, votre race ou votre
            origine ethnique, vos opinions politiques, vos convictions
            religieuses ou philosophiques, votre affiliation à un syndicat,
            la génétique, la biométrie ou toute autre donnée sensible.
          </p>
          <p>
            <strong>Accéder à, mettre à jour et supprimer vos informations personnelles</strong><br />
            CB2P Avocats souhaite s’assurer que les informations personnelles
            que nous conservons dans nos bases de données sont à jour et exactes.
            CB2P Avocats prend des mesures raisonnables pour rectifier sans délai
            les informations personnelles erronées, eu égard aux finalités pour
            lesquelles elles sont traitées.
          </p>
          <p>
            Si vous souhaitez accéder à, modifier ou corriger vos informations
            personnelles, vous pouvez le faire à tout moment en nous envoyant
            un e-mail à <strong>secretariat&#64;cb2p-avocats.fr</strong>
          </p>
          <p>
            Toute demande de restriction du traitement, de suppression des
            informations personnelles ou toute question concernant le fait que
            CB2P Avocats conserve des informations personnelles vous concernant
            peuvent être adressées à <strong>secretariat&#64;cb2p-avocats.fr</strong>
            ou à CB2P Avocats, 1, cours Georges Clemenceau 33000 Bordeaux.
            Vous pouvez obtenir sur demande un imprimé lisible de vos données à
            caractère personnel détenues par CB2P Avocats à des intervalles
            raisonnables et sans frais.
          </p>
          <p>
            Avant d’accéder à toute demande à cet égard, nous pouvons vous
            demander de fournir une preuve de votre identité. Si vous n’êtes pas
            en mesure de fournir une preuve de votre identité, nous nous
            réservons le droit de refuser les modifications ou la suppression
            des informations personnelles en question.
          </p>
          <p>
            Si vous avez des questions, des commentaires ou des plaintes
            concernant notre politique de confidentialité, veuillez nous envoyer
            un courrier électronique à <strong>secretariat&#64;cb2p-avocats.fr</strong>
            ou nous écrire à CB2P Avocats, 1, cours Georges Clemenceau 33000
            Bordeaux.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
