<div class="full-screen-container hidden mt-5" #teamContainer>
  <div class="team-wrapper mt-5">

    <!-- SECTION 1 : Avocats -->
    <section id="first-section" class="first-section mt-5" #section1>
      <div class="container mx-5">
        <div class="lawyer-section d-flex">
          <!-- Titre 1 -->
          <h4 class="mt-5" #teamSubtitle>{{ teamData?.subtitle_1 }}</h4>
          <div class="line ms-4" #teamLine></div>
        </div>

        <!-- Liste des avocats -->
        <div class="lawyers-row mt-5 pb-5">
          <div
            class="lawyer-card"
            *ngFor="let av of lawyersList"
            #lawyerCard
            (click)="goToSelectedMember(av.id)"
          >
            <div class="image-container">
              <img class="lawyer-photo" [src]="av.photo" alt="Avocat" />
              <div class="hover-overlay">
                <div class="hover-text" [innerHTML]="av.nameFuncHtml"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 2 : Assistants -->
    <section id="second-section" class="second-section mt-3" #section2>
      <div class="container mx-5">
        <div class="assistant-section d-flex">
          <!-- Titre 2 -->
          <h4 #assistantTitle>{{ teamData?.subtitle_2 }}</h4>
          <div class="line ms-4" #assistantLine></div>
        </div>

        <!-- Liste des assistants -->
        <div class="lawyers-row mt-5">
          <div
            class="lawyer-card"
            *ngFor="let assistant of assistantsList"
            #assistantCard
            (click)="goToSelectedMember(assistant.id)"
          >
            <div class="image-container">
              <img class="lawyer-photo" [src]="assistant.photo" alt="Assistant" />
              <div class="hover-overlay">
                <div class="hover-text" [innerHTML]="assistant.nameFuncHtml"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

  </div>
</div>
