@use "sass:map";
@use "../../../../styles/_variables.scss" as vars;

.site-footer {
  background-color: map.get(vars.$theme-colors, "dark-blue");
  color: map.get(vars.$theme-colors, "white");

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-logo {
    width: 150px;
    height: auto;
  }

  .footer-menu {
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 0.5rem;
      a {
        color: map.get(vars.$theme-colors, "white");
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .linkedin-link {
    display: inline-block;
    .linkedin-icon {
      width: 24px;
      height: auto;
    }
  }

  .vertical-separator {
    width: 1px;
    height: 200px;
    background-color: map.get(vars.$theme-colors, "gold");
    flex: 0 0 auto;
    margin: 0 1rem;
  }

  .footer-address {
    margin: 0;
    a {
      color: map.get(vars.$theme-colors, "white");
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .footer-mention {
    margin: 0;
    a {
      color: map.get(vars.$theme-colors, "white");
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
