@use "sass:map";
@use "../../../styles/_variables.scss" as vars;

.full-screen-container {
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  flex: 0 0 auto;
}

.selected-team-wrapper {
  width: 100%;

  .container-fluid {
    height: 100vh;
    overflow-y: hidden;
  }

    .first-section {
      width: 100%;
      min-height: 100vh;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;

      .first-section-left {
        background-color: map.get(vars.$theme-colors, "light-blue");
        color: map.get(vars.$theme-colors, "white");
        padding: 5rem 5rem;
        text-align: center;
        min-height: 100vh;

        .intro-text {
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }

        .team {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
            color: map.get(vars.$theme-colors, "gold");
          }
        }

        .lawyer-name {
          font-size: 2rem;
          font-weight: bold;
          margin-bottom: 1rem;
          text-align: left !important;
          width: 100%;
        }

        h6 {
          color: map.get(vars.$theme-colors, "gold");
        }

        .member-function {
          p {
            margin: 0;
            font-style: italic;
          }
        }

        .mail-link {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          color: map.get(vars.$theme-colors, "white");
          text-decoration: none;
          margin-top: 1.5rem;

          img {
            width: 32px;
            height: 32px;
            cursor: pointer;
          }

          &:hover {
            text-decoration: underline;
          }
        }


        .member-presentation {
          margin-top: 2rem;
          line-height: 1.6;

          p {
            margin-bottom: 1rem;
          }
        }
      }

      .first-section-right {
        background-color: map.get(vars.$theme-colors, "white");
        padding: 5rem 5rem;
        min-height: 100vh;

        .member-photo {
          max-width: 350px;
          width: 50%;
          height: auto;
          border-radius: 4px;
          box-shadow: 0 2px 15px rgba(0,0,0,0.4);
        }
      }
    }
}

.selected-team-wrapper[_ngcontent-ng-c1076159910] .first-section[_ngcontent-ng-c1076159910] .first-section-left[_ngcontent-ng-c1076159910] .mail-link[_ngcontent-ng-c1076159910] {
  font-weight: 300;
}

@media (max-width: 1024px) {
  .selected-team-wrapper[_ngcontent-ng-c1223802389] .first-section[_ngcontent-ng-c1223802389] .first-section-right[_ngcontent-ng-c1223802389] .member-photo[_ngcontent-ng-c1223802389] {
    max-width: 350px;
    width: 80%;
}
}

@media (max-width: 768px) {
  .selected-team-wrapper {
    .first-section {
      .container-fluid {
        height: auto !important;
        overflow-y: visible !important;
      }
      .row.no-gutters {
        display: block !important;
      }

      .first-section-left,
      .first-section-right {
        min-height: auto !important;
        width: 100% !important;
        text-align: center;
        padding: 7rem 5rem !important;

        .member-photo {
          width: 80%;
        }
      }

      .lawyer-name {
        text-align: left !important;
        margin: 0 auto 1rem 0;
      }
    }
  }
}

